body {
    margin: 0;
    background: #0e0e10;
}
#taskbar {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #181818;
}
.osai-window {
    border: 1px solid #444;
    width: 400px;
    height: 300px;
}
